{% extends 'base.html' %}
{% block body %}
<br>
<div class="container">
     <p align="right"><a href="{% url 'movieapp:add_movie' %}" class="btn btn-primary">Add New Movie</a></p>
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{i.img.url}}" alt=" " width="50px" height="350px">
                    <div class="card-body">
                        <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.dec}}</p>
                            <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">View details</a>
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}